.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    text-align: center;
    justify-content: center;
    background-color: black;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    width: fit-content;
}
h1{
    margin-bottom: 5px;
    font-family: "Dancing Script", cursive;
    font-size: 35px;
    color: rgb(80, 52, 164);
}
img {
    height: 80px;
}
.buscador{
    border: 2px solid black;
    padding: 18px;
    background-color: #000000;
    width: fit-content; 
    margin-top: 10px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between; 
    color: white;
  }
  .tituloBuscador{
    margin: 0px;
    margin-bottom: 5px;
    font-family: "Poetsen One", sans-serif;
    font-size: 17px;
    text-align: center;
    color: rgb(142, 119, 210);
  }
  input{
    margin-right: 5px;
  }
 
  .cancion{
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    margin: 10px;
    background-color: rgb(176, 175, 175);
    border: 2px solid rgb(80, 52, 164);
    padding: 5px;
}
.cancion p {
    padding: 0px;
    margin: 0px;
  
}
.nombreCancion{
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: bold;
}
.nombreArtista{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 17px;
}

.centrar{
    display: flex;
    justify-content: center;
}
.btnBuscador{
    padding-left: 5px;
    background-color: rgb(60, 171, 60);
    color: white;
    border: 2px solid rgb(15, 137, 15);
    border-radius: 10px;
}

.btnSiguiente, .btnAtras{
    background-color: #8484ee;
    margin-left: 5px;
    color: white;
    border: 2px solid rgb(102, 104, 169);
    border-radius: 10px;
}

.botoneraPaginacion{
    margin-top: 10px;
    margin-left: 10px;
}
.btn-secondary[disabled] {
    background-color: rgb(201, 123, 123);
    border-color: #6c757d;
    color: white;
}





@media (max-width: 576px  ) {
    .table-responsive table tr {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }
    .table-responsive table td {
      display: block;
      width: 100%;
      float: none;
    }
  }