<div class="container">
   
    <h1 class="tituloCancion"> {{cancion?.nombre}}</h1>
    <div class="infoEnColumnas">
        <div class="imagen">
            <a >
                <img class="imgItem" [src]="'data:image/jpeg;base64,' + cancion?.albumImagen" alt="Nombre de la canción">
            </a>
        </div>
        <div class="informacion">
            <div class="infoAutor">
                <h3>{{cancion?.artistaNombre}}</h3>  
                <h4>{{cancion?.albumTitulo}}</h4>
                <label>Fecha insercion: </label> <span>{{cancion?.fechaInsercion}}</span>
            </div>
            <div class="infoCancion">
                <label>Estilo: </label> <span>{{cancion?.estilo}} </span><br> 
                <label>Duración: </label> <span>{{cancion?.duracion}} minutos</span>
            </div>
            
            <div class="valoraciones">
                <label>Valoracion total: </label> <span>{{cancion?.valoracion}}</span> <br>
                <label >Tu valoracion: </label> <span> {{valoracion}}</span><br>
                <label >Valorar</label> <i class="bi bi-star-fill estrella1" (click)="valorar(1)" > </i> <i class="bi bi-star-fill estrella2" (click)="valorar(2)" > </i> <i class="bi bi-star-fill estrella3" (click)="valorar(3)" > </i> <i class="bi bi-star-fill estrella4" (click)="valorar(4)" > </i>
             
            </div>
            <div class="reproducciones">
                <label>Reproducciones Totales</label> <span> {{cancion?.reproducciones}} </span> <br>
                <label>Tus reproducciones: </label> <span> {{reproducciones}}</span> <br>
                <button type="button" class="btn btn-success" (click)="reproducir()" ><i class="bi bi-play"></i></button>
            </div>
        </div>
        
    </div>
  
</div>
