
<p class="datosUsuario">
  <i class="bi bi-circle-fill"></i> <span class="label">Nombre de usuario:</span> <a [routerLink]="['/perfilUsuario', username]">{{usuario?.nombreDeUsuario}}</a>
  <i class="bi bi-circle-fill"></i> <span class="label">Apellidos:</span> {{usuario?.apellidos}}
  <button type="button" class="btn btn-outline-secondary" (click)="logout()">Logout</button>
</p>

<form>
  <div class="row buscador">
    <h2>Filtrar por estilo</h2>
    <div class="for-group">
      <label class="estilo" for="name">Estilo</label>
      <select class="form-select" id="inputGroupSelect01" [(ngModel)]="estiloCancion" name="role" required>
        <option value="ROCK">ROCK</option>
        <option value="POP">POP</option>
        <option value="CLASICA">CLASICA</option>
        <option value="">Quitar filtro</option>
      </select>
      <div class="buscar">
        <button id="btnSearch" class="btn btn-secondary" (click)="obtenerUltimasCancionesAnadidas()" >Buscar</button>
      </div>
    </div>
  </div>
</form>


<h1>Novedades</h1>
<div class="container" >
  <a class="enlaceTodasLasCanciones" [routerLink]="['/canciones']" >Ver todas las canciones</a>
</div>

<div class="container" *ngIf="ultimasCancionesAnadidas.length > 0">

  <div *ngFor="let cancion of ultimasCancionesAnadidas" class="cancion">
 
    <a >
      <img class="imgItem" [src]="'data:image/jpeg;base64,' + cancion.albumImagen" alt="Nombre de la canción" [routerLink]="['/cancion', cancion.id, username]">
    </a>
    <p class="nombreCancion">{{cancion.nombre}}</p>
    <p class="nombreArtista">{{cancion.artistaNombre}}</p>
  </div>
</div>

<h1>Para ti</h1>
<div class="paraTi" *ngIf="cancionesDelPrimerEstilo.length > 0 || cancionesDelSegundoEstilo.length > 0">
  <div *ngFor="let cancion of cancionesDelPrimerEstilo" class="cancion">
    <a>
      <img class="imgItem" [src]="'data:image/jpeg;base64,' + cancion.albumImagen" alt="Nombre de la canción" [routerLink]="['/cancion', cancion.id, username]">
    </a>
    <p class="nombreCancion">{{cancion.nombre}}</p>
    <p class="nombreArtista">{{cancion.artistaNombre}}</p>
  </div>

  <div *ngFor="let cancion of cancionesDelSegundoEstilo" class="cancion">
    <a>
      <img class="imgItem" [src]="'data:image/jpeg;base64,' + cancion.albumImagen" alt="Nombre de la canción" [routerLink]="['/cancion', cancion.id, username]">
    </a>
    <p class="nombreCancion">{{cancion.nombre}}</p>
    <p class="nombreArtista">{{cancion.artistaNombre}}</p>
  </div>
</div>

<h1>Mas escuchadas</h1>
<div class="paraTi" *ngIf="cancionesMasEscuchadas.length > 0">
  <div *ngFor="let cancion of cancionesMasEscuchadas" class="cancion">
    <a>
      <img class="imgItem" [src]="'data:image/jpeg;base64,' + cancion.albumImagen" alt="Nombre de la canción" [routerLink]="['/cancion', cancion.id, username]">
    </a>
    <p class="nombreCancion">{{cancion.nombre}}</p>
    <p class="nombreArtista">{{cancion.artistaNombre}}</p>
  </div>
</div>
